html {
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #f2f2f2;
}

h2 {
  margin: 0;
  padding: 1.5rem 0;

  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.wrapper {
  display: flex;
  padding: 0 1.5rem;
}

.card:first-child {
  background-color: #e2e2e2;
}

.card:nth-child(2) {
  background-color: #ccc;
}

.card:nth-child(3) {
  background-color: #aaa;
}

.card:last-child {
  border-width: 0 thin;
  border-style: solid;
  border-color: black;
  background-color: #999;
}

.card:first-child, .card:nth-child(2), .card:nth-child(3) {
  border-width: 0 0 0 thin;
  border-style: solid;
  border-color: black;
}

.card {
  padding: .75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-wrap {
  text-align: center;
  background-color: red;
  width: 100px;
}

img {
  display: block;
  width: 100%;
}

.content-wrap {
  padding: 1.5rem 0;
}

h3,
p {
  margin: 0;
}

span {
  font-size: .875rem;
  font-style: italic;
}

.btn {
  display: inline-block;
  padding: .48em .9em;
  border-radius: 8px;
  background-color: #333;
  width: 100%;

  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}

/*
- *Text sizes:* `2rem`, `.875rem`
- *Colours:* `#f2f2f2`, `#333`, `#e2e2e2`, `#ccc`, `#aaa`, `#999`
- *Paddings:* `1.5rem`, `.75rem`
- *Margins:* `0`, `0 auto 1.5rem`, `0 0 1.5rem`
- *Image width:* `100px`

*flex-grow
*width: 25%
*/
